body {
  background-color: #862633;
}


.container {
  text-align: center;
  background-color: #862633;
}

.collapsible {
  margin-top: 5%;
}

.collapsible-header {
  background-color: #ecac00;
  font-weight: bold;
  font-size: 160%;
  text-shadow: 0 1px 1px #ecac00, 0px 1px 1px black;

}

.collapsible-body {
  color: #ecac00;
  font-weight: bold;
  font-size: 132%;
  text-align: left;
  text-shadow:
  1px 3px 0 #000,
-1px -1px 0 #000,  
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

.nav-wrapper {
  background-color: #ecac00;
}

span.brand-logo {
  color: #862633;
  text-shadow: 0 1px 1px #ecac00, 0px 1px 1px black;
  font-weight: bolder;
  font-size: 350%;
}

.sidenav {
  width: 0;
}

.sidenav-overlay {
  background-color: transparent;
}

nav .material-icons{
  color: #ecac00;
}



 /* ==== Extra-Small devices ==== */
 @media only screen and (max-width: 600px) {
  span.brand-logo {
    font-size: 200%;
  }

  .collapsible-header {
    font-size: 100%;
    text-align: left;
  }
}



